/*414px/16px = 25.875 aprox 26*/
/*414px/16px = 25.875 aprox 26*/
/*Media Query Control*/
/*
1200px+: desktop and big desktop
900px---1200px:tablet landscape
600px---900px:tablet portrait
<600px:phones--->414px
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 10px/16px = 0.625 = 62.5% */
  /* Seteamos el font-size del browser en 62.5% para tener 1rem = 10px */
  font-size: 62.5%;
  font-family: "Sora", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  z-index: 0;
}

h4,
h3,
h2 {
  font-weight: 400;
}

/*Media Query Control*/
/*
1200px+: desktop and big desktop
900px---1200px:tablet landscape
600px---900px:tablet portrait
<600px:phones--->414px
*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 850px) {
  .header {
    margin-left: 3.6rem;
    margin-right: 3.6rem;
  }
}
.header__logo {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.header .nav {
  display: flex;
  justify-content: space-between;
}
.header .nav__mobile {
  font-size: 3.2rem;
  display: none;
  transition: all 0.5s;
}
.header .nav__mobile:hover {
  transform: rotate(180deg);
  color: #999;
}
@media (max-width: 850px) {
  .header .nav__mobile {
    display: flex;
    align-items: center;
    z-index: 50;
  }
}
.header .nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: left;
  list-style: none;
  gap: 3.7rem;
}
@media (max-width: 850px) {
  .header .nav__list {
    display: none;
  }
}
.header .nav__list--link:link, .header .nav__list--link:visited, .header .nav__list--link:active {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 800;
  color: #000;
  transition: all 0.2s ease-in;
}
.header .nav__list--link:link:hover, .header .nav__list--link:visited:hover, .header .nav__list--link:active:hover {
  color: #999;
}
.header .nav__list .nav__cta {
  padding: 1rem 1.4rem;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  transition: all 0.2s ease-in;
}
.header .nav__list .nav__cta:hover {
  background-color: #999;
  color: #000;
}

/*Media Query Control*/
/*
1200px+: desktop and big desktop
900px---1200px:tablet landscape
600px---900px:tablet portrait
<600px:phones--->414px
*/
.footer {
  margin-top: 12.5rem;
  margin-bottom: 5rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}
.footer__logocopy {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1.8rem;
  /*@include responsive(breakpoint) {
    gap: 0.9rem;

  }*/
}
.footer__logocopy--enlace {
  border-right: 1px solid #ddd;
  padding-right: clamp(1px, 1.56vw, 2rem);
  padding-right: 2rem;
  /*@include responsive(breakpoint) {
    padding-right: 1rem;

  }*/
}
.footer__redes {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  gap: 1.6rem;
  font-size: 1.8rem;
  color: #000;
  align-items: center;
  justify-content: center;
}
.footer__redes--enlace {
  transition: all 0.2s ease-in;
}
.footer__redes--enlace:hover {
  transform: translateY(-3px);
  color: #00f;
}
.footer__desarrollo {
  grid-column: 3;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 1.2rem;
  font-weight: 400;
}

/*414px/16px = 25.875 aprox 26*/
.contenedor {
  max-width: 128rem;
  margin: 5rem auto;
  position: relative;
}

.fa-black {
  color: #000;
}

/*Media Query Control*/
/*
1200px+: desktop and big desktop
900px---1200px:tablet landscape
600px---900px:tablet portrait
<600px:phones--->414px
*/
.contacto {
  margin-top: 6rem;
  display: grid;
  width: 100%;
  grid-template-columns: 41% 50%;
  gap: 9%;
  grid-template-rows: auto;
}
@media (max-width: 850px) {
  .contacto {
    margin-top: 2.6rem;
  }
}
.contacto__datos {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: auto;
}
.contacto__datos--titulo {
  font-size: 5rem;
  font-weight: 800;
  color: #000;
}
.contacto__datos--formulario {
  width: 100%;
  margin-top: clamp(1px, 2.8vw, 3.6rem);
  display: flex;
  flex-direction: column;
}
.contacto__datos--formulario .label01,
.contacto__datos--formulario .label02,
.contacto__datos--formulario .label03 {
  margin-bottom: 6px;
  font-size: 1.3rem;
  font-weight: 400;
  color: #999;
  text-transform: uppercase;
}
.contacto__datos--formulario .label02 {
  margin-top: clamp(1px, 2.3vw, 2.9rem);
}
.contacto__datos--formulario .label03 {
  margin-top: clamp(1px, 1.6vw, 2rem);
}
.contacto__datos--formulario .nombre,
.contacto__datos--formulario .correo,
.contacto__datos--formulario .mensaje {
  width: min(100%, 52.4rem);
  height: clamp(1px, 4.3vw, 5.5rem);
  padding: 1.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #000;
  border: 1px solid #999;
  border-radius: 4px;
}
.contacto__datos--formulario .mensaje {
  height: clamp(1px, 21vw, 26.9rem);
  resize: none;
  font-family: "Sora";
}
.contacto__datos--formulario .enviar {
  display: flex;
  align-self: flex-end;
  height: 100%;
  padding-top: clamp(1px, 1.6vw, 2rem);
}
.contacto__datos--formulario .enviar__btn {
  border-style: none;
  padding: 1.6rem 7.2rem;
  border-radius: 4px;
  font-family: "Sora", sans-serif;
  font-size: 1.8rem;
  color: #fff;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.contacto__datos--formulario .enviar__btn:hover {
  background-color: #999;
  color: #000;
}
.contacto__fotobotas {
  width: 100%;
  height: auto;
  grid-row: 1;
  grid-column: 2;
}

.direcciones {
  margin-top: 12.4rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.direcciones .direccion {
  font-size: 1.6rem;
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in;
}
.direcciones .direccion:hover {
  color: #999;
}
.direcciones .icono-direccion {
  font-size: 2.9rem;
  margin-right: 1.7rem;
  display: flex;
}
.direcciones .map {
  padding-left: 4px;
  flex-basis: 2.9rem;
}/*# sourceMappingURL=contacto.css.map */