* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 10px/16px = 0.625 = 62.5% */
  /* Seteamos el font-size del browser en 62.5% para tener 1rem = 10px */
  font-size: 62.5%;
  font-family: "Sora", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: white;
  z-index: 0;
}

h4,
h3,
h2 {
  font-weight: 400;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 850px) {
  .header {
    margin-left: 3.6rem;
    margin-right: 3.6rem;
  }
}
.header__logo {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.header .nav {
  display: flex;
  justify-content: space-between;
}
.header .nav__mobile {
  font-size: 3.2rem;
  display: none;
  transition: all 0.5s;
}
.header .nav__mobile:hover {
  transform: rotate(180deg);
  color: #999;
}
@media (max-width: 850px) {
  .header .nav__mobile {
    display: flex;
    align-items: center;
    z-index: 50;
  }
}
.header .nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: left;
  list-style: none;
  gap: 3.7rem;
}
@media (max-width: 850px) {
  .header .nav__list {
    display: none;
  }
}
.header .nav__list--link:link,
.header .nav__list--link:visited,
.header .nav__list--link:active {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 800;
  color: #000;
  transition: all 0.2s ease-in;
}
.header .nav__list--link:link:hover,
.header .nav__list--link:visited:hover,
.header .nav__list--link:active:hover {
  color: #999;
}
.header .nav__list .nav__cta {
  padding: 1rem 1.4rem;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  transition: all 0.2s ease-in;
}
.header .nav__list .nav__cta:hover {
  background-color: #999;
  color: #000;
}

.footer {
  margin-top: 12.5rem;
  margin-bottom: 5rem;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: -webkit-min-content -webkit-max-content repeat(2, auto);
  grid-template-columns: min-content max-content repeat(2, auto);
  align-items: center;
}
@media (max-width: 850px) {
  .footer {
    margin-top: 7.6rem;
    margin-bottom: 2.9rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }
}
.footer__logocopy {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  padding-right: 2rem;
  border-right: 1px solid #ddd;
}
@media (max-width: 850px) {
  .footer__logocopy {
    grid-column: 1;
    grid-row: 1;
    padding-right: 0;
    border-right: none;
    justify-content: center;
  }
}
.footer__copyright {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  padding-left: 1.7rem;
  padding-right: clamp(1px, 7.8vw, 11rem);
}
@media (max-width: 850px) {
  .footer__copyright {
    grid-column: 1;
    grid-row: 2;
    justify-content: center;
    padding: 0;
    margin-top: 1.1rem;
  }
}
.footer__redes {
  grid-column: 3;
  grid-row: 1;
  display: flex;
  gap: 1.6rem;
  font-size: 1.8rem;
  color: #000;
  align-items: center;
  justify-content: center;
}
@media (max-width: 850px) {
  .footer__redes {
    grid-column: 1;
    grid-row: 3;
    margin-top: 3rem;
  }
}
.footer__redes--enlace {
  transition: all 0.2s ease-in;
}
.footer__redes--enlace:hover {
  transform: translateY(-3px);
  color: #00f;
}
.footer__desarrollo {
  grid-column: 4;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 1.2rem;
  font-weight: 400;
}
@media (max-width: 850px) {
  .footer__desarrollo {
    grid-column: 1;
    grid-row: 4;
    justify-content: center;
    margin-top: 5rem;
  }
}

.contenedor {
  max-width: 128rem;
  margin: 5rem auto;
  position: relative;
}

.fa-black {
  color: #000;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 850px) {
  .header {
    margin-left: 3.6rem;
    margin-right: 3.6rem;
  }
}
.header__logo {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.header .nav {
  display: flex;
  justify-content: space-between;
}
.header .nav__mobile {
  font-size: 3.2rem;
  display: none;
  transition: all 0.5s;
}
.header .nav__mobile:hover {
  transform: rotate(180deg);
  color: #999;
}
@media (max-width: 850px) {
  .header .nav__mobile {
    display: flex;
    align-items: center;
    z-index: 50;
  }
}
.header .nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: left;
  list-style: none;
  gap: 3.7rem;
}
@media (max-width: 850px) {
  .header .nav__list {
    display: none;
  }
}
.header .nav__list--link:link,
.header .nav__list--link:visited,
.header .nav__list--link:active {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 800;
  color: #000;
  transition: all 0.2s ease-in;
}
.header .nav__list--link:link:hover,
.header .nav__list--link:visited:hover,
.header .nav__list--link:active:hover {
  color: #999;
}
.header .nav__list .nav__cta {
  padding: 1rem 1.4rem;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  transition: all 0.2s ease-in;
}
.header .nav__list .nav__cta:hover {
  background-color: #999;
  color: #000;
}

.footer {
  margin-top: 12.5rem;
  margin-bottom: 5rem;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: -webkit-min-content -webkit-max-content repeat(2, auto);
  grid-template-columns: min-content max-content repeat(2, auto);
  align-items: center;
}
@media (max-width: 850px) {
  .footer {
    margin-top: 7.6rem;
    margin-bottom: 2.9rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }
}
.footer__logocopy {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  padding-right: 2rem;
  border-right: 1px solid #ddd;
}
@media (max-width: 850px) {
  .footer__logocopy {
    grid-column: 1;
    grid-row: 1;
    padding-right: 0;
    border-right: none;
    justify-content: center;
  }
}
.footer__copyright {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  padding-left: 1.7rem;
  padding-right: clamp(1px, 7.8vw, 11rem);
}
@media (max-width: 850px) {
  .footer__copyright {
    grid-column: 1;
    grid-row: 2;
    justify-content: center;
    padding: 0;
    margin-top: 1.1rem;
  }
}
.footer__redes {
  grid-column: 3;
  grid-row: 1;
  display: flex;
  gap: 1.6rem;
  font-size: 1.8rem;
  color: #000;
  align-items: center;
  justify-content: center;
}
@media (max-width: 850px) {
  .footer__redes {
    grid-column: 1;
    grid-row: 3;
    margin-top: 3rem;
  }
}
.footer__redes--enlace {
  transition: all 0.2s ease-in;
}
.footer__redes--enlace:hover {
  transform: translateY(-3px);
  color: #00f;
}
.footer__desarrollo {
  grid-column: 4;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 1.2rem;
  font-weight: 400;
}
@media (max-width: 850px) {
  .footer__desarrollo {
    grid-column: 1;
    grid-row: 4;
    justify-content: center;
    margin-top: 5rem;
  }
}

.fa-white {
  color: #fff;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.menu .nav__mobilex {
  z-index: 40;
  font-size: 3.3rem;
  color: #fff;
  position: fixed;
  top: 5rem;
  right: 4rem;
  transition: all 0.5s;
}
.menu .nav__mobilex:hover {
  transform: rotate(180deg);
  color: #999;
}
.menu__lista {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  list-style: none;
  left: 3.8rem;
  top: 12.1rem;
  z-index: 20;
}
.menu__lista--link {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
}
.menu__lista--link:hover {
  color: #999;
}
.menu .menufooter {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  font-size: 1.2rem;
  color: #fff;
  margin: 50rem auto 5.7rem auto;
}
.menu .menufooter__logocopy {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  justify-content: center;
}
.menu .menufooter__copyright {
  display: flex;
  grid-column: 1;
  grid-row: 2;
  justify-content: center;
  font-size: 1.2rem;
  margin-top: 1.3rem;
}
.menu .menufooter__redes {
  display: flex;
  grid-column: 1;
  grid-row: 3;
  justify-content: center;
  gap: 1.6rem;
  margin-top: 3.8rem;
  font-size: 2.1rem;
}

#menu__mobile {
  display: none;
}
#menu__mobile:checked ~ .menu {
  opacity: 1;
  visibility: visible;
}

.contacto {
  margin-top: 6rem;
  display: grid;
  width: 100%;
  grid-template-columns: 41% 50%;
  gap: 9%;
  grid-template-rows: auto;
}
@media (max-width: 850px) {
  .contacto {
    margin: 4.5rem auto;
    grid-template-columns: 1fr;
    width: 82.6%;
  }
}
.contacto__datos {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: auto;
}
.contacto__datos--titulo {
  font-size: 5rem;
  font-weight: 800;
  color: #000;
}
@media (max-width: 850px) {
  .contacto__datos--titulo {
    font-size: 2.4rem;
  }
}
.contacto__datos--formulario {
  width: 100%;
  margin-top: clamp(1px, 2.8vw, 3.6rem);
  display: flex;
  flex-direction: column;
}
.contacto__datos--formulario .label01,
.contacto__datos--formulario .label02,
.contacto__datos--formulario .label03 {
  margin-bottom: 6px;
  font-size: 1.3rem;
  font-weight: 400;
  color: #999;
  text-transform: uppercase;
}
.contacto__datos--formulario .label02 {
  margin-top: clamp(1px, 2.3vw, 2.9rem);
}
.contacto__datos--formulario .label03 {
  margin-top: clamp(1px, 1.6vw, 2rem);
}
.contacto__datos--formulario .nombre,
.contacto__datos--formulario .correo,
.contacto__datos--formulario .mensaje {
  width: min(100%, 52.4rem);
  height: clamp(1px, 4.3vw, 5.5rem);
  padding: 1.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #000;
  border: 1px solid #999;
  border-radius: 4px;
}
@media (max-width: 850px) {
  .contacto__datos--formulario .nombre,
  .contacto__datos--formulario .correo,
  .contacto__datos--formulario .mensaje {
    width: 100%;
    height: 5.5rem;
  }
}
.contacto__datos--formulario .mensaje {
  height: clamp(1px, 21vw, 26.9rem);
  resize: none;
  font-family: "Sora";
}
@media (max-width: 850px) {
  .contacto__datos--formulario .mensaje {
    height: 26.9rem;
  }
}
.contacto__datos--formulario .enviar {
  display: flex;
  align-self: flex-end;
  height: 100%;
  padding-top: clamp(1px, 1.6vw, 2rem);
}
.contacto__datos--formulario .enviar__btn {
  border-style: none;
  padding: 1.6rem 7.2rem;
  border-radius: 4px;
  font-family: "Sora", sans-serif;
  font-size: 1.8rem;
  color: #fff;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.contacto__datos--formulario .enviar__btn:hover {
  background-color: #999;
  color: #000;
}
.contacto__fotobotas {
  width: 100%;
  height: auto;
  grid-row: 1;
  grid-column: 2;
}
@media (max-width: 850px) {
  .contacto__fotobotas {
    display: none;
  }
}

.direcciones {
  margin-top: 12.4rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
@media (max-width: 850px) {
  .direcciones {
    margin: 6.8rem auto;
    width: 82.6%;
  }
}
.direcciones .direccion {
  font-size: 1.6rem;
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in;
}
.direcciones .direccion:hover {
  color: #999;
}
.direcciones .icono-direccion {
  font-size: 2.9rem;
  margin-right: 1.7rem;
  display: flex;
}
.direcciones .map {
  padding-left: 4px;
  flex-basis: 2.9rem;
} /*# sourceMappingURL=contacto.css.map */
