@mixin hover-boton {
  background-color: $color-gris-medio;
  color: $color-negro;
}

@mixin hover-enlaces-contacto {
  color: $color-gris-medio;
}

@mixin hover-redes {
  transform: translateY(-3px);
  color: $color-azul;
}



@mixin responsive {
  @media (max-width: 850px) {
    @content
  }

}