@mixin hover-boton {
  background-color: $color-gris-medio;
  color: $color-negro;
}

@mixin hover-enlaces-contacto {
  color: $color-gris-medio;
}

@mixin hover-redes {
  transform: translateY(-3px);
  color: $color-azul;
}




/*Media Query Control*/
/*
1200px+: desktop and big desktop
900px---1200px:tablet landscape
600px---900px:tablet portrait
<600px:phones--->414px
*/