* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 10px/16px = 0.625 = 62.5% */
  /* Seteamos el font-size del browser en 62.5% para tener 1rem = 10px */

  font-size: 62.5%;
  font-family: 'Sora', sans-serif;
  scroll-behavior: smooth;

}

body {
  background-color: white;
  z-index: 0;
}

h4,
h3,
h2 {
  font-weight: 400;

}