//--colores
$color-blanco: #fff;
$color-gris-claro: #ddd;
$color-gris-medio: #999;
$color-gris-oscuro: #222;
$color-negro: #000;
$color-azul: #00f;

//--width--
$max-width: 128rem;

//--fonts--
$default-font-size: 1.6rem;