@import "variables";
@import "reset";
@import "header";
@import "footer";
@import "general";
@import "mixins";
@import "menu";

.contacto {
  margin-top: 6rem;
  display: grid;
  width: 100%;
  grid-template-columns: 41% 50%;
  gap: 9%;
  grid-template-rows: auto;

  @include responsive {
    margin: 4.5rem auto;
    grid-template-columns: 1fr;
    width: 82.6%;
  }

  &__datos {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: auto;

    &--titulo {
      font-size: 5rem;
      font-weight: 800;
      color: $color-negro;

      @include responsive {
        font-size: 2.4rem;
      }

    }

    &--formulario {
      width: 100%;
      margin-top: clamp(1px, 2.8vw, 3.6rem);
      display: flex;
      flex-direction: column;

      .label01,
      .label02,
      .label03 {
        margin-bottom: 6px;
        font-size: 1.3rem;
        font-weight: 400;
        color: $color-gris-medio;
        text-transform: uppercase;
      }

      .label02 {
        margin-top: clamp(1px, 2.3vw, 2.9rem);
      }

      .label03 {
        margin-top: clamp(1px, 1.6vw, 2rem);
      }

      .nombre,
      .correo,
      .mensaje {
        width: min(100%, 52.4rem);
        height: clamp(1px, 4.3vw, 5.5rem);
        padding: 1.8rem;
        font-size: 1.6rem;
        font-weight: 400;
        color: $color-negro;
        border: 1px solid $color-gris-medio;
        border-radius: 4px;

        @include responsive {
          width: 100%;
          height: 5.5rem;
        }
      }

      .mensaje {
        height: clamp(1px, 21vw, 26.9rem);
        resize: none;
        font-family: 'Sora';

        @include responsive {
          height: 26.9rem;
        }
      }

      .enviar {
        display: flex;
        align-self: flex-end;
        //align-content: center;
        height: 100%;
        padding-top: clamp(1px, 1.6vw, 2rem);

        &__btn {
          border-style: none;
          padding: 1.6rem 7.2rem;
          border-radius: 4px;
          font-family: 'Sora', sans-serif;
          font-size: 1.8rem;
          color: $color-blanco;
          background-color: $color-negro;
          text-align: center;
          cursor: pointer;
          transition: all .2s ease-in;

          &:hover {
            @include hover-boton;
          }
        }
      }
    }
  }

  &__fotobotas {
    width: 100%;
    height: auto;
    grid-row: 1;
    grid-column: 2;

    @include responsive {
      display: none;
    }
  }
}

.direcciones {
  margin-top: 12.4rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  @include responsive {
    margin: 6.8rem auto;
    width: 82.6%;
  }

  .direccion {
    font-size: 1.6rem;
    color: $color-negro;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: all .2s ease-in;

    &:hover {
      @include hover-enlaces-contacto;
    }
  }

  .icono-direccion {
    font-size: 2.9rem;
    margin-right: 1.7rem;
    display: flex;

  }

  .map {
    padding-left: 4px;
    flex-basis: 2.9rem; //el icono mapa es más angosto.
  }
}